@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



body {

    margin: 0;
    padding: 0;
    justify-content: center;
  /*  overflow-x: hidden; /* Allow vertical overflow but hide horizontal overflow */
    animation: fadeIn .3s;
    -webkit-animation: fadeIn .3s;
    -moz-animation: fadeIn .3s;
    -o-animation: fadeIn .3s;
    -ms-animation: fadeIn .3s;
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

* {
    cursor: none;
    box-sizing: border-box
    
}

#fadeToBlack {
    transition: .3s;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: white;
    z-index: 9999;
}

#custom-cursor {
      position: fixed;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #fff;
      mix-blend-mode: difference; /* Invert colors */
      pointer-events: none;
      z-index: 9999;
      transform: translate(-50%, -50%);
      transition: transform .3s ease-out;
  }

  

#menu {
    height: 50px;
    bottom: 0;
}

.header-holder {
    overflow: visible;
    margin-top: 20px;
    padding: 0 20px 0 20px;
    height: 5em;
    z-index: 1000;
    /*border: 2px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Make it full width */
    position: absolute;
    top: 0 /* Position at the top of the page */
}


.buttonContainer {
    overflow: visible;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcomeMessageContainer {
    width:100%;
    height: 100%;

    display: flex; /* This line enables Flexbox */
    justify-content: center; /* Centers content along the main axis (horizontally if flex-direction is row) */
    align-items: center; /* Centers content along the cross axis (vertically if flex-direction is row) */
}

.welcomeMessage {
    width: 60%;
    font-weight: 900;
    font-size: 6vw;
    text-align: center;
    line-height: 5.5vw;
    overflow: visible;

}

#welcomeMessageGif {
    position: absolute;
    width: 25.5vw;
    transform: translate(6.5vw, -5.5vw);
}

.mute-button {
    position: absolute;
    top: 20px;
    right: 20px;
  border-width: 0;
    z-index: 1000;
    font-size: 1em;
    mix-blend-mode: difference;
    color: white;

  }

  
#closeButton {
    border-width: 0;
    background-color: white; 
    mix-blend-mode: difference;
}

button {
    border: 2px solid;
    margin: 0px;
    color: inherit;
    padding: .27em .5em;
    border-radius: 2em;
    background-color: inherit;
    font-size: 2.5em;
    border-color: inherit;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing:-.01em;
    text-align: center;
    font-style: normal;
}



#funButton {
    visibility: visible;
    padding: .38em .38em .38em .38em;
}



#colourButton {
    width: .5em;
    padding: 0;
    height: .5em;
    color: inherit;
    overflow: visible;
   
}


#animation-container {
    width:  4.5em;
    height: 2.43em

}

#smiley-animation-container {
    width:  1em;
    height: 1em;
}

#intro-animation-container {
    width: 50%;
    height: 100%;
 /*  border: 1px red solid; */
    transform: translateY(-20%); 
}



#animation-container-project {
    width:  4.5em;
    height: 2.43em;
}

#animation-container-project svg path {
    fill: white; /* Set the fill color of the SVG path to white */
}

#animation-container-project svg {
    mix-blend-mode: difference; /* Apply mix-blend-mode to the SVG */
}

#workButton,
#funButton,
#colourButton,
#closeButton, 
#aboutButton{
    transition:  background-color 0.2s, color 0.2s, border-color 0.2s;
}
#funButton:hover,
#aboutButton:hover,
#workButton:hover,
#closeButton:hover,
#colourButton:hover {
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    
}



#showreelContainer {
   /* border: 2px solid red;*/
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    position: fixed;
    max-width: 900px;
    left: 50%;
    top: 50%;
   
    transform: translate(-50%, 250%); /* Move the container horizontally to the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1005;
    overflow: visible;
    transition: 1s;
    filter: blur(0px);
}

#showreelContainer:hover {
    transform: translate(-50%, 200%);
}

#showreel {
    height: auto; /* Let the height adjust according to the video's aspect ratio */
    width: 100%;
    border-radius: 2em;
    transition: 1s;
    filter: blur(0px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
#showreelTitle {
    border: 1px pink solid;
}


#showreelVis {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: 0;
    transition: 1s;
}

#showReelFooter {
    position: fixed;
    z-index: 9001;
    color: white;
    mix-blend-mode: difference;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    text-align: center;
    opacity: .5;
}



#showreel video {
    width: 100%; /* Ensure the video fills its container */
    height: 100%; /* Ensure the video fills its container */
}

#showreel video::-webkit-media-controls {
    display: none; /* Hide default browser controls */
}

#showreel video::-webkit-media-controls-enclosure {
    width: 100%; /* Ensure the custom controls fill the video container */
    height: 100%; /* Ensure the custom controls fill the video container */
}

#showreel video::-webkit-media-controls-panel {
    width: 100%; /* Ensure the custom controls fill the video container */
    height: 100%; /* Ensure the custom controls fill the video container */
}


#movingWork {
    width: 175px;
    height: 175px;
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s, border-radius 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}


#movingWork:hover {
    transform: scale(1.2);
    border-radius: 3%;
    z-index: 1002;
  
}

#canvasControls {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#canvas-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.material-symbols-outlined {
    padding: 0;
    margin: 0;
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;
}




.theme {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    background-color: white;
    
    color: black;
    user-select: none;
    transition: background-color 0.2s; 
}

* {

    overflow: hidden;
    text-decoration: none;
    color: inherit;
}



.projectTitle {
    font-family: "DM Sans", sans-serif;
    position: fixed;
    display: none;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    z-index: 1002;
    mix-blend-mode: difference;
    font-weight: 400;
    font-size: 36px;
}


#brushes-holder {
    
    visibility: visible;
    position: fixed;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    z-index: 3;
}

#brushes {
    
    display: flex;
    height: auto;
    width: auto;
    border: 1px solid;
    
    transition: background-color 0.2s, color 0.2s;
    margin: .5em 0;
    border-radius: 3em;
   
}

#brushes img {
    height: 70px;
    width: 70px;
    padding: 5px;
}

#imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven {
    width: 70px;
    height: 70px;
    transition: background-color 0.2s, color 0.2s;
}

#imageOne {
    background-color: textColor;
}

#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven {
    background-color: backgroundColor;
}

html,
body,
#canvas-container {
    height: 100%;
}

#aboutPage {
    transition: 0.2s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  
    opacity: 0;
    
}



#awardsContainer,
.awardText,
#headshotContainer,
#threeDeeMe,
#headshotCaption,
#SocialButtonContainer,
.socialButton, #awards {
  /* border: 1px red solid; */
}

#SocialButtonContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Make the container full width */
    justify-content: space-between; /* Align the items horizontally */
    margin: 0;
    padding: 0; /* Optional padding */
   
    
}


#developedTag {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    opacity: .5;
    font-size: 14px;
  
    font-weight: 300;
}

#aboutPageContainer {
    width: 100%;
    margin: 0; /* Center the container horizontally */
    padding: 80px 20px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between flex items */
  }
  

#awardsTextContainer {
    width: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
  }
  
  #awards {
    width: 100%;
    padding: 0px 0 10px 0;
    margin: 0;
    font-size: 18px;
    opacity: .5;
  }

  #awardCompany {
    min-width: 220px;
    flex-grow: 1;
  }

  #awardLevel {
    min-width: 100px;
    flex-grow: 1;
  }

  #awardClient {
    min-width: 140px;
    flex-grow: 1;
  }

  #awardClientMobile {
    display: none;
    flex-grow: 1;
  }

  #awardDate {
    text-align: right;
    flex-grow: 1;
  }
  
  .awardText {
   padding: 0;
    margin: 0
  }


.socialButton {
  
    font-size: 6.7vw;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 1000;
}

#LinkedIn {
   
}

.socialButton:hover {
    font-style: italic;

   
}

#Instagram {
    text-align: left;
}

#Email {
    text-align: center;
}

#LinkedIn {
    text-align: right;
}

#threeDeeMe {
    max-width: 150px;
    max-height: 150px;
    padding: 0;
    margin: 0;
}

#headshotCaption {
    padding: 0;
    margin: 0;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    opacity: 1;
}
#headshotCaption2 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    opacity: .5;
}


#headshotContainer { 
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: .2s;
}



#workPage{
    
    transition: 0.2s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  
    opacity: 0;
    
}

#workPage img{
    width: 100%;
    height: 100%;
}

#allWorkContainer {
    transition: 0.2s;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 10px 10px 10px;
    opacity: 1;
   
    
}
.projectContainer {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 10px; 
    margin: 0;
    transition: .3s;
    position: relative;
    overflow: hidden;
    top: 50px; 
    /* border: 2px solid red; */
    
}

.workContainer {
    
    box-sizing: border-box;
    margin: 0 0 80px 0;
    padding: 0; 
    transition: .3s;
    position: relative;
    border-radius: 0px;
}

.workContainer img, video  {
    width: 100%;
    height: auto;
}

.projectContainer img {
    transition: .3s;
    border-radius: 0px;
}

.whitebackground {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


#workContainerOne, #workContainerTwo, #workContainerThree, #workContainerFour, #workContainerFive, #workContainerSix, #workContainerSeven, #workContainerEight {
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.projectNameWork {
    color: black;
    overflow: visible;
    font-weight: 400;
    letter-spacing:-.01em;
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 0;
}
   

.projectDateWork {
    color: black;
    overflow: visible;
    opacity: 0.5;
    font-size: 18px;
    font-weight: 400;
    letter-spacing:-.01em;
    text-align: right;
    margin: 0;
    padding: 0;
}




.projectPage {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: baseline;
    overflow: scroll;
    transition: 0.2s;
   
}

#project {
    opacity: 1;
    z-index: 0;
    
}


.projectvideo::-webkit-media-controls {
    display: none;
  }
  
  .projectvideo::-webkit-media-controls-enclosure {
    display: none;
  }
  
  .projectvideo::-webkit-media-controls-panel {
    display: none;
  }
  




.mainVideo {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.projectName {
   
    color: black;
    /* border: blue solid 2px; */
    width: 50%;
    margin: 0;
}

.projectDate {
  
    color: black;
     /*border: blue solid 2px; */
    width: 50%;
    margin: 0;
    opacity: .5;
}

.emptyDiv {
    margin: 0;
   /* border: pink solid 2px; */
    width: 50%;
}

.caption {
    padding: 0;
    margin: 0;
    opacity: .5;
    font-size: 14px;
   
}

.projectText {
   padding: 0;
   margin: 80px 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
    /*border: red solid 2px;*/
   font-size: 18px;
}

.projectExplainer {
    width: 50%;
    /* border: greenyellow solid 2px;*/
    margin: 40px 0 0 0;
   
}

#fullProjectContainer {
    box-sizing: border-box;
    width: 100%;
    /* border: blue solid 2px;*/
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
}

@media only screen and (max-width: 800px) {

    #intro-animation-container {
        width: 70%;
    }
   
    .projectvideo::-webkit-media-controls {
        display: initial;
      }
    
      .projectvideo::-webkit-media-controls-enclosure {
        display: initial;
      }
    
      .projectvideo::-webkit-media-controls-panel {
        display: initial;
      }
      
    #movingWork {
        width: 150px;
        height: 150px;
    }
    .workContainer {
        width: 100%;
        
    }
    .projectContainer {
        width: 100%;
        
    }

    .projectExplainer {
        width: 100%;
    }

    .projectDate {
        width: 100%;
        padding-top: 2px;
    }

    #awardDate {
        display: none;
    }

    #awardClient  {
        text-align: right;
    }
    #awardsTextContainer, #awards  {
        font-size: 13px;
        }

    
}

@media only screen and (max-width: 500px) {

    #intro-animation-container {
        width: 80%;
    }


    #developedTag{
display: none;
    }
   

    #awardCompany {
        width: 50%;
    }

    #awardClient  {
        display: none;
    }
    #awardClientMobile {
        width: 50%;
        text-align: right;
        display: initial;
    }

    #awardLevel {
        display: none;
    }

    .socialButton{
        font-size: 6vw;
    }
   
    #showreelContainer {
        top: 43%;
    }   
    #movingWork {
        width: 120px;
        height: 120px;
    }
    .mute-button {
        display: none;
    }
    .header-holder {
        margin-top: 0;
    }

    button {
        font-size: 7vw;
        border-width: 1.5px;
        margin: 0;
    }

   
  
    #movingWork:hover {
        transform: scale(1);
        border-radius: 50%;
    }

    .projectContainer {
        width: 100%;
        height: auto;
        margin: 0;

        box-sizing: border-box; /* Add this line */
    }
    
    #custom-cursor {
        visibility: hidden;
      
      }

      .projectTitle {
        visibility: hidden;
      }

    * {
        cursor: auto;
       /* overflow: auto;  */
    }

   
    
}

@media only screen and (max-height: 600px) and (orientation: landscape) {

   
   
    #movingWork:hover {
        transform: scale(1);
        border-radius: 50%;
    }
    #showreelContainer { 
        max-width: 80%;
    }
    .workContainer {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .projectContainer {
        width: 100%;
        height: auto;
        margin: 0;
        box-sizing: border-box; /* Add this line */
    }
   
   
    
    #custom-cursor {
        visibility: hidden;
      }

      .projectTitle {
        visibility: hidden;
      }

    * {
        cursor: auto;
       /* overflow: auto;  */
    }

   
    
}

@media only screen and (min-width: 500px) {
    #showreelContainer {
        top: 45%;
    }   

   
}

@media only screen and (min-width: 700px) {
    #showreelContainer {
        top: 48%;
    }   

}


@media only screen and (min-width: 1200px) {

    #intro-animation-container {
        width: 40%;
    }

    .socialButton{
        font-size: 5.6vw;
    }

    #showreelContainer {
        top: 49%;
    } 
    #movingWork {
        width: 200px;
        height: 200px;
    }
   

    .header-holder {
        padding:0vw 10vw 0vw 10vw; /* Add padding instead of margin */
      
    
    }
    #allWorkContainer {
        padding: 50px 10vw 1vw 10vw;
       
        
    }

    #fullProjectContainer {
        padding: 0vw 10vw 1vw 10vw;
    }

    #aboutPageContainer {
        padding: 80px 10vw 20px 10vw;
    }

   
}




footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
 
    
}



