@font-face {
    font-family: 'CustomFont';
    src: url('HELVETICANEUELTSTD-ROMAN.OTF') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
  /*  overflow-x: hidden; /* Allow vertical overflow but hide horizontal overflow */
    animation: fadeIn .3s;
    -webkit-animation: fadeIn .3s;
    -moz-animation: fadeIn .3s;
    -o-animation: fadeIn .3s;
    -ms-animation: fadeIn .3s;
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

* {
    cursor: none;
    box-sizing: border-box
  /*  overflow: hidden; */
}

#fadeToBlack {
    transition: .3s;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: white;
    z-index: 999;
}

#custom-cursor {
    position: fixed;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #fff;
      mix-blend-mode: difference; /* Invert colors */
      pointer-events: none;
      z-index: 9999;
      transform: translate(-50%, -50%);
  }

  

#menu {
    height: 50px;
    bottom: 0;
}

#header-holder {
    overflow: visible; /* Change overflow to hidden to prevent content from extending beyond its boundaries */
    margin: 0; /* Remove margin */
    padding: 0.5em; /* Add padding instead of margin */
    height: 5em;
    z-index: 1000;
  /*  border: 2px solid red;*/
    display: flex;
    justify-content: space-between;
    width: 100%; /* Make it full width */
    position: absolute;
    top: 0; /* Position at the top of the page */
}

.buttonContainer {
    overflow: visible
}




button {
    border: .05em solid;
    background: none;
    color: inherit;
    padding: .4em .5em .2em .5em;
    border-radius: 2em;
    background-color: inherit;
    font-family: 'CustomFont', sans-serif; 
    font-size: 2em;
}

#funButton {
    visibility: visible;
}



#colourButton {
    width: .5em;
    padding: 0;
    height: .5em;
    color: inherit;
    overflow: visible;
   
}


#animation-container {
    width: auto;
    height: 3em;
}



#workButton,
#funButton,
#colourButton, 
#aboutButton{
    transition: background-color 0.3s, color 0.3s;
}
#funButton:hover,
#aboutButton:hover,
#workButton:hover,
#colourButton:hover {
    transition: background-color 0.3s, color 0.3s;
}

#closeButton {
    width: 3em;
    height: 3em;
    padding: .3em;
    margin: 0 1em;
    top: 1.1em;
    right: 0.1em;
    position: fixed;
    display: inline-block;
    color: inherit;
    overflow: visible;
    box-sizing: border-box;
    border: 0px;
}

#showreelContainer {
   /* border: 2px solid red;*/
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    position: fixed;
    max-width: 900px;
    left: 50%;
    top: 50%;
    padding: 0.5em;
    transform: translate(-50%, 250%); /* Move the container horizontally to the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1005;
    overflow: visible;
    transition: 1s;
    filter: blur(0px);
}

#showreelContainer:hover {
    transform: translate(-50%, 200%);
}

#showreel {
    height: auto; /* Let the height adjust according to the video's aspect ratio */
    width: 100%;
    border-radius: 2em;
   
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

#showreelVis {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: 0;
    transition: 1s;
}


#showreel video {
    width: 100%; /* Ensure the video fills its container */
    height: 100%; /* Ensure the video fills its container */
}

#showreel video::-webkit-media-controls {
    display: none; /* Hide default browser controls */
}

#showreel video::-webkit-media-controls-enclosure {
    width: 100%; /* Ensure the custom controls fill the video container */
    height: 100%; /* Ensure the custom controls fill the video container */
}

#showreel video::-webkit-media-controls-panel {
    width: 100%; /* Ensure the custom controls fill the video container */
    height: 100%; /* Ensure the custom controls fill the video container */
}


#movingWork {
    width: 10em;
    height: 10em;
    position: absolute;
    border-radius: 50%;
    transition: transform 0.3s, border-radius 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}


#movingWork:hover {
    transform: scale(2);
    border-radius: 3%;
    z-index: 1002;
  
}


#reset-button {
    background-color: #e5e5e5;
    border: black solid 1px;
    padding: 5px;
    border-radius: 50%;
}

#canvasControls {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#canvas-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.material-symbols-outlined {
    padding: 0;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}


.Navbar {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.Navbar li {
    padding: 0px 10px;
    list-style: none;
    display: inline-block;
}

#Palette-Button {
    position: fixed;
    right: 20px;
}

.theme {
    font-family: "CustomFont", sans-serif;
    font-style: normal;
    background-color: white;
    color: black;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

* {

    overflow: hidden;
    text-decoration: none;
    color: inherit;
}



.projectTitle {
    position: fixed;
    display: none;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    z-index: 1002;
    text-transform: uppercase;
    mix-blend-mode: difference;
}


.switch {
    position: fixed;
    display: inline-block;
    width: 3.75em;
    height: 2.125em;
    overflow: visible;
    right: 2em;
    top: 1.5em;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#Switchy {
  transition: visibility 0.3s;
   visibility: visible;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: solid 2px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.625em;
    width: 1.625em;
    left: 0.25em;
    bottom: 0.25em;
    outline: solid 2px;
    -webkit-transition: .4s;
    transition: width 0.4s, height 0.4s, transform 0.4s;
}

input:checked + .slider {
}

input:focus + .slider {
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.625em);
    -ms-transform: translateX(1.625em);
    transform: translateX(1.625em);
    background-color: currentColor;
}

.slider.round {
    border-radius: 2.125em;
}

.slider.round:before {
    border-radius: 50%;
}

#brushes-holder {
    
    visibility: visible;
    position: fixed;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    z-index: 3;
}

#brushes {
    
    display: flex;
    height: auto;
    width: auto;
    border: 1px solid;
    
    transition: background-color 0.3s, color 0.3s;
    margin: .5em 0;
    border-radius: 3em;
   
}

#brushes img {
    height: 70px;
    width: 70px;
    padding: 5px;
}

#imageOne,
#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven {
    width: 70px;
    height: 70px;
    transition: background-color 0.3s, color 0.3s;
}

#imageOne {
    background-color: textColor;
}

#imageTwo,
#imageThree,
#imageFour,
#imageFive,
#imageSix,
#imageSeven {
    background-color: backgroundColor;
}

html,
body,
#canvas-container {
    height: 100%;
}

#aboutPage {
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#workPage{
    
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: .3em;
    width: 100%;
    height: 100%;
    z-index: 1;  
    opacity: 0;
    align-items: baseline;
    
}

#workPage img{
    width: 100%;
    height: 100%;
}

#allWorkContainer {
    transition: 0.3s;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3.8em 0.7em 0.7em 0.7em;
    opacity: 1;
    
}


.workContainer {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    margin: 0; 
    padding: 0.7em;
    transition: .3s;
    position: relative;
    top: 50px; 
    /* border: 2px solid red; */
    
}
.projectPage .workContainer {
    width: 70%;
}
.workContainer img {
    transition: .3s;
    border-radius: 5px;
}

#workPage .workContainer:hover {
    transform: scale(1.02);
}

#workContainerOne, #workContainerTwo, #workContainerThree, #workContainerFour, #workContainerFive, #workContainerSix {
display: flex;
align-items: center;
justify-content: center;
}

#workContainerOne h1, #workContainerTwo h1, #workContainerThree h1, #workContainerFour h1, #workContainerFive h1, #workContainerSix h1 {
position: fixed;
   
    transition: 0.3s;
    opacity: 0;
    font-size: 100%;
   
    text-transform: uppercase;
}

#workContainerOne:hover h1, #workContainerTwo:hover h1, #workContainerThree:hover h1, #workContainerFour:hover h1, #workContainerFive:hover h1, #workContainerSix:hover h1 {
    opacity: 1;
}


.projectPage {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: baseline;
    
    transition: 0.3s;
   
}

#projectOne {
    opacity: 1;
    z-index: 0;
}

.projectPage img{
    width: 100%;
    height: 100%;
}

#projectOneContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 3.8em 0.7em 0.7em 0.7em;
}

containerDiv {
    display: initial;
}

.videoContainer {
   /* border: red solid 2px; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: .3s;

    position: relative;

    border-radius: 5px;
}

.projectExplainer {
   /* border: red solid 4px; */
    box-sizing: border-box;
    margin: 50px 0 0 0;
    width: 80%;
    max-width: 700px;
}

@media only screen and (max-width: 600px) {
   
    #movingWork:hover {
        transform: scale(1);
        border-radius: 50%;
    }

    .workContainer {
        width: 100%;
        height: auto;
        margin: 0;
        padding: .7em;

        box-sizing: border-box; /* Add this line */
    }
    
    #custom-cursor {
        visibility: hidden;
      }

    * {
        cursor: auto;
       /* overflow: auto;  */
    }

   
    
}

.projectName {
    transition: opacity 0.5s ease-in-out;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
 
    
}



